<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
    <div class="close">

        <div class="btn btn-round btn-info" ng-click="hideFormAlumnos()"><i class="md md-close"></i></div>

    </div>
    <div class="aside-dialog">

        <div class="aside-body bs-sidebar">
            <form class="form-floating" name="myForm" ng-submit="saveItem(item)">
                <fieldset>
                    <legend> {{item.Alumnos.length}} Alumnos del curso {{item.Materia.Nombre}} ({{item.Dia}}, {{item.Turno}}, {{item.Sede}})</legend>
                    <span>Docente: {{item.Docente.Nombre}} {{item.Docente.Apellido}}</span>

                    <div class="row">



                    </div>
                    <div class="row">
                        <div class="form-group filled">
                            <div class="col-md-12">
                                <div class="card bordered">
                                    <div class="card-header">
                                        <span class="card-title">Alumnos</span>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table table-full table-full-small">
                                            <thead>
                                                <tr>
                                                    <th>Legajo</th>
                                                    <th>Alumno</th>
                                                    <th class="text-right">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="i in alumnosCurso">
                                                    <td>{{i.Alumno.Legajo}}</td>
                                                    <td>{{i.Alumno.Nombre}} {{i.Alumno.Apellido}}</td>

                                                    <td class="text-right">

                                                        <button type="button" class="btn btn-link btn-round" data-animation="am-fade-and-slide-top" data-template="assets/views/uaicase/tpl/alumnos_modal.html" bs-modal ><i class="md md-mail"></i></button>



                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>


                </fieldset>
            </form>
        </div>
    </div>



</div>
