<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">×</button>

            </div>
            <div class="modal-body">



                <div class="row">



                    <div class="p-h-40">
                        
                     <ver-materia materia="curso.Materia"/>
                    </div>






                </div>



            </div>

        </div>
    </div>
</div>

