<div class="dashboard grey lighten-3" >
    <div class="row no-gutter p-20">

        <div class="col-md-10 col-md-offset-1" style="background:#F9F9F9;">

            
            <div class="container-fluid">


                <div class="row gutter-14 kpi-dashboard">
                    <div class="col-md-12">
                        <uai-case-calendar titulo="Calendario Principal" />
                    </div>


                </div>



            </div>
        </div>

      
    </div>


</div>
